#border-pane{
    -fx-background-image: url("C:\\Users\\omrhs\\Documents\\College\\Semester 4\\Game\\M3\\final\\src\\gamebg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 500 500;
    -fx-background-position: center center;
}